<mat-card>
    <mat-card-title>
        MTR Route Suggestion
    </mat-card-title>
    <mat-card-content>
        <p>MTR Route Suggestion suggest the most optimal route (the least number of stations) to reach the destination.
        </p>
        <h3>The app will show</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-icon matListIcon>fiber_manual_record</mat-icon>Approximately how long it takes to reach to the
                destination.
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>fiber_manual_record</mat-icon>The number stations between the starting station and
                the destination.
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>fiber_manual_record</mat-icon>The total fare
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon matListIcon>fiber_manual_record</mat-icon>Any subway line interchange
            </mat-list-item>
        </mat-list>
    </mat-card-content>

</mat-card>