<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <section>
    <mat-form-field>
      <mat-label>Choose Starting Station</mat-label>
      <input matInput [matAutocomplete]="auto" name="fromStationInputField" #keywordfromStation="ngModel"
        [(ngModel)]="keywordfromcurrentStation" (ngModelChange)="doFilter()" required autocomplete="off">
      <mat-hint *ngIf="!isValidfromStation">Please select the station</mat-hint>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChangedFromStation($event)">
      <mat-option *ngFor="let station of fromStationOptions" [value]="station.name">
        {{station.name}}
      </mat-option>
    </mat-autocomplete>
  </section>

  <section>
    <mat-form-field>
      <mat-label>Choose Destination Station</mat-label>
      <input matInput [matAutocomplete]="auto1" [(ngModel)]="keywordtoStation" name="toStationInputField"
        #keywordfromToStation="ngModel" (ngModelChange)="doFilterTo()" required autocomplete="off">
      <mat-hint *ngIf="!isValidToStation">Please select the station</mat-hint>
    </mat-form-field>

    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onSelectionChangedToStation($event)">
      <mat-option *ngFor="let station of toStationOptions" [value]="station.name">
        {{station.name}}
      </mat-option>
    </mat-autocomplete>
  </section>
  <br>
  <button mat-raised-button color="accent" [disabled]="!f.valid || loading || !isValidToStation || !isValidfromStation"
    type="submit">
    <mat-icon>login</mat-icon>
    <span *ngIf="!loading">&nbsp;&nbsp;&nbsp;Search</span>
    <span *ngIf="loading">&nbsp;&nbsp;&nbsp;Processing Request</span>
  </button>
</form>